.profile_page{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
}

.imgHolder {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.bground {
   background-image: url("https://i.redd.it/1jlnjvd3n8z61.png");
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}


.text {
   align-self: center;
   background-color: rgba(63, 73, 131, 0.4); /* Black w/opacity/see-through */
   color: rgb(135, 187, 232);
}