.background {
  background-image: url("https://sm.ign.com/ign_ap/screenshot/default/50858637113-28ea9455b1-o-1611343121785_64f8.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  overflow-y: auto;
  /* filter: blur(2px); */
}